.card-container{    
    padding: 30px;
    border-radius: 5px;
    margin: 20px auto 0;
    width: 85%;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    grid-gap: 12px;
    justify-content: center;       
}


@media (max-width: 1000px){
    .card-container{    
        width: 100%;
    }
}