.child-container {
    background-color:  #444;
    width: 250px;
    height: 280px;
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
    transition: .15s ease-out;

    .card-user{
        margin-top: 10px;
        text-align: center;
    }

    &:hover{
        transform: scale(1.02);
    }
}