.container{    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    margin-top: 50px;

    header{
        h1{
            margin-bottom: 40px;
            color: rgb(177, 117, 255);
            text-transform: uppercase;            
        }
    }
}