*{
  margin: 0px;  
  border: 0px;
  padding: 0px;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right bottom, rgb(107, 103, 103), rgb(71, 71, 71)) fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
}
